<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.herkiusdev.dicemaster"
    >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".DiceMasterApplication_"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity_"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.rpg.CriticsAndFumblesActivity_"
            android:label="@string/critics_and_fumbles_name"
            android:theme="@style/AppTheme.NoActionBar"
            >
        </activity>

        <activity
            android:name=".activity.rpg.InitiativeActivity_"
            android:label="@string/initiative_name"
            android:theme="@style/AppTheme.NoActionBar"
            >
        </activity>

        <activity
            android:name=".activity.rpg.SingleThrowActivity_"
            android:label="@string/single_throw_name"
            android:theme="@style/AppTheme.NoActionBar"
            >
        </activity>

        <activity
            android:name=".activity.rpg.MultipleThrowsActivity_"
            android:label="@string/multiple_throws_name"
            android:theme="@style/AppTheme.NoActionBar"
            >
        </activity>

        <activity
            android:name=".activity.board.OneVsOneActivity_"
            android:label="@string/one_vs_one_name"
            android:theme="@style/AppTheme.NoActionBar"
            >
        </activity>

        <activity
            android:name=".activity.board.SeveralPlayersActivity_"
            android:label="@string/several_players_name"
            android:theme="@style/AppTheme.NoActionBar"
            >
        </activity>

    </application>

</manifest>
